<div id="wrapper">
<test1></test1>
<nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="./../../../assets/img/user.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <div>Tim <strong>Vutha</strong></div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                  
                     <li>
                      <a routerLink="/customer"><i class="fa fa-user fa-fw"></i>Customers List</a>
                    </li>
                    <li>
                        <a routerLink="/product"><i class="fa fa-edit fa-fw"></i>Product</a>
                    </li>
                     <li>
                        <a routerLink="/about"><i class="fa fa-edit fa-fw"></i>About</a>
                    </li>
                     <li>
                      <a routerLink="/login"><i class="fa fa-flask fa-fw"></i>LogIn</a>
                    </li>
                    <li>
                       <a routerLink="/signup"><i class="fa fa-sitemap fa-fw"></i>SignUp<span class="fa arrow"></span></a>
                    
                        <!-- second-level-items -->
                    </li>
                  
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
</div>
<!--<menuleft></menuleft>-->
